files/

frontend/node_modules/
frontend/dist/
frontend/src-tauri/target
frontend/src/components/home/Chatsection copy.css

backend/.venv/
backend/.env
backend/core/llama_cpp/*
backend/core/model/*

__pycache__/
*.pyc

*.wav