.pai-dashboard {
  color: #fff;
  font-family: 'Inter', sans-serif; 
  position: fixed;
  top: 80px;
  left: 80px;
  /*right: 100%;
  bottom: 100%; */
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.pai-dash-header h1 {
  font-size: 32px;
  font-weight: 600;

}

.pai-dash-header p {
  margin-top: 8px;
  color: var(--text-dim);
}

.pai-dash-hero {
  position: relative;
  right: 5%;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  gap: 20px;
}

.pai-voice-btn {
  position: relative;
  overflow: hidden;
  padding: 15px 40px;
  background: var(--violet);
  border: none;
  border-radius: 40px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: 0.35s;
}

.pai-voice-btn:hover {
  transform: scale(1.06);
  box-shadow: 0 0 20px var(--violet);
}

.pai-dash-stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
  margin: 40px 0;
}

.pai-stat-card {
  background: var(--panel);
  padding: 28px;
  border-radius: var(--radius-lg);
  text-align: center;
  border: 1px solid var(--border);
  transition: 0.3s;
}

.pai-stat-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 25px var(--violet);
}

.pai-stat-card h2 {
  font-size: 32px;
  color: var(--violet-light);
  margin-bottom: 8px;
}

.pai-stat-card p {
  color: var(--text-dim);
  font-size: 13.5px;
}

.pai-section-title {
  margin: 20px 0;
  font-size: 16px;
}

.pai-actions {
  width: 1400px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.pai-action {
  background: var(--panel);
  border-radius: var(--radius-lg);
  padding: 5px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.3s;
  width: 150px;
}

.pai-action h3 {
  font-size: 12px;
  margin-top: 16px;
  font-weight: 500;
}

.pai-action:hover {
  border-color: var(--violet-light);
  transform: translateY(-8px);
  box-shadow: 0 0 25px var(--violet);
}

.pai-activity {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.pai-activity div {
  background: var(--panel);
  padding: 16px 18px;
  border-radius: 12px;
  transition: 0.3s;
  animation: fadeUp 0.4s ease both;
  font-size: 14px;
}

.pai-activity div:hover {
  background: var(--panel-hover);
}

.pai-prompts {
  width: 1400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.pai-prompts div {
  padding: 20px;
  background: linear-gradient(135deg, var(--violet), var(--blue));
  border-radius: 18px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14.5px;
}

.pai-prompts div:hover {
  transform: scale(1.03);
}

@media (max-width: 1100px) {
  .pai-dash-stats,
  .pai-actions {
    width: 900px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  .pai-dash-stats,
  .pai-actions,
  .pai-prompts {
    grid-template-columns: 1fr;
  }
}
