.setting-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    transition: transform 0.5s ease;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 0.67px;
}
.setting-btn:hover{
    transform: scale(1.2);
    /* background-color: #8b6bff; */
}

.setting-btn svg{
    transition: transform 0.5s ease;
    /* width: clamp(27px, 1.98vw, 40px);
    height: clamp(27px, 1.98vw, 40px); */
}

.rotate{
    transform: rotate(30deg);
}